* {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;

  height: 100px;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;

  height: 100%;
  width: 30%;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 100%;
  width: 50%;
}

.img_logo {
  height: 30%;
  width: 7%;
}

ul {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  color: blue;
  font-size: 2vw;
  margin: 0 0 0 4%;
}
.root {
  display: flex;
  background-image: url(../media/Rectangle\ .jpg);
  height: 670px;
  width: 100%;
}

.root_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 670px;
}

.root_h1 {
  position: absolute;
  color: white;
  font-size: 2.5vw;
 width: 27%;
  top: 20%;
  left: 16%;
}

.present {
  position: absolute;
  color: white;
  font-size: 0.9vw;
  background-color: rgb(65, 65, 214);
  padding: 12px 40px 12px 40px;
  top: 37%;
  left: 20%;
  width: 7.7%;
}

.punkt {
  display: flex;
  position: absolute;
  top: 45%;
  left: 20%;
}

.dot {
  color: white;
  font-size: 3vw;
  padding: 50px 15px 0 15px;
}

.root_rigth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 670px;
  width: 50%;
}

.knopka {
  position: absolute;
  width: 4%;
  height: 5%;
  top: 47%;
}

.root_2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1242px;
  width: 100%;
}

.serviss{
  position: absolute;
  top: 72%;
  left: 21%;
  font-size: 0,8vw;
  color: rgb(208, 192, 192);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.specialisacion{
  position: absolute;
  top: 76%;
  left: 21%;
  font-size: 2vw;
}

.root_grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  position: absolute;
  top: 85%;
  height: 58%;
  width: 58%;
 

}

.repeated{
 position: relative;
  background-image: url(../media/Rectangle\ 2\ \(1\).jpg);
  height: 100%;
  width: 100%;
  color: white;
  font-size: 1vw;
 

}

.service{
position: absolute;
font-size: 1.2vw;
width: 20%;
left: 20%;
top: 80%;

}

.abaut_us{
  display: flex;
  
  height: 564px;
  width: 59%;
  margin: 0 20% 5% 20%;
}

.our_clients{
  background-color: aquamarine;
  height: 630px;
  width: 100%;
}

.reviews{
  height: 900px;
  width: 100%;
}

.contact_us{
  height: 623px;
  width: 100%;
  background-image: url(../media/Rectangle\ .jpg);
}

footer{
  display: flex;
  align-items: center;
 justify-content: space-around;
  height: 110px;
  width: 100%;

}

#abaut_us1{
  
  height: 564px;
  width: 50%;
}

#abaut_us2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  
  height: 564px;
  width: 50%;
}
 .komp{
  color: black;
 }



 .keiss{

  width: 100%;
  height: 100%;
  background-color: antiquewhite;

 }