*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
body{
    max-width: 1920px;
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}
a{
    text-decoration: none;
    color: inherit;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}
.header{
    padding-top: 40px;
    position: relative;
}
.menu{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding-bottom: 32px;
    border-bottom: 1px solid #828282;
    color: #828282;
    list-style: none;
}
.menu-link{
    padding: 20px;
}
.menu-link:hover{
    color: #070707;
}
.menu-compact{
    display: none;
}
.home-info{
    display: flex;
    justify-content: space-between;
}
.my-name{
    font-size: 48px;
    line-height: 59px;
}
.language-block{
    transform: rotate(-90deg);
    font-size: 14px;
}
.language, .language-divider{
    display: inline-block;
}
.language:hover{
    color: #070707;
}
.home{
    padding-top: 20px;
    padding-bottom: 40px;
}
.home-wrapper{
    display: flex;
}
.home-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.home-text{
    margin-top: 50px;
    font-size: 20px;
}
.home-img{
    width: 50%;
}
.about-me{
    padding-top: 40px;
    padding-bottom: 40px;
    background: #F6F6F6;
}
.section-title{
    font-size: 34px;
    line-height: 42px;
    text-align: start;
    color: #070707;
    margin-bottom: 30px;
}
.about-me-block{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
.about-me-title{
    margin-bottom: 10px;
}
.about-me-list{
    padding: 10px 20px;
}
.skills{
    padding-top: 40px;
    padding-bottom: 40px;
}
.tech-skills{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.skills-block{
    font-size: 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    padding: 0 30px;
}
.skills-item{
    text-align: center;
}
.skills-name{
    font-size: 18px;
}
.rating-block{
    font-size: 16px;
}
.portfolio{
    background-color: #F6F6F6;
    padding-top: 40px;
    padding-bottom: 40px;
}
.portfolio-item-img{
    width: 550px;
    height: 100%;
}
.portfolio-item{
    width: 600px;
    height: 600px;
    border: 1px solid black;
    text-align: center;
}
.portfolio-slider{
    position: relative;
    display: flex;
    justify-content: center;
}
.arrow-block{
    display: flex;
    align-items: center;
}
.prev, .next{
    padding: 20px;
    display: inline-block;
    border: 1px solid black;
    cursor: pointer;
    position: absolute;
    border-radius: 5%;
}
.prev{
    transform: rotate(-180deg);
    top: 50%;
    left: 0;
}
.next{
    top: 50%;
    right: 0;
}
.prev, .next:hover{
    color: #070707;
}
.contacts{
    padding-top: 40px;
    padding-bottom: 40px;
}
.contacts-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.contacts-form input{
    border: none;
    padding-top: 40px;
    padding-bottom: 5px;
    border-bottom: 1px solid #828282;
    width: 90%;
    outline: none;
}
.form-buttons{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 25px 5% 0;
}
.form-send{
    padding: 5px 30px;
    border-radius: 5px;
    
    cursor: pointer;
}
.contacts-social{
    display: flex;
    justify-content: center;
}
.contacts-social p{
    margin: 0 10px;
    font-size: 24px;
}
@media (max-width: 820px) {
    .section-title{
        margin-left: 20px;
    }
    .skills-block{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 20px;
    }
}
@media (max-width: 680px) {
    .container{
        width: 500px;
    }
   
    .menu-compact{
        display: block;
        font-size: 40px;
        position: absolute;
        top: 20%;
        right: 5%;
    }
    .menu-compact:hover ~.menu{
        display: flex;
    }
    .menu{
        display: none;
        flex-direction: column;
        align-items: end;
        position: absolute;
        right: 2%;
        border: none;
    }
    .menu:hover{
        display: flex;
    }
    .language-block{
        transform: rotate(0);
        padding: 20px;
    }
    .home-wrapper{
        flex-direction: column;
    }
    .home-info{
        width: 100%;
    }
    .home-text{
        margin-top: 30px;
    }
    .home-img{
        width: 100%;
        margin-top: 20px;
    }
    .about-me-block{
        flex-direction: column;
    }
    .skills-block{
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }
    .skills-item{
        width: 100%;
    }
}
@media (max-width: 680px){
    .container{
        width: 400px;
    }
    .skills-block{
        grid-template-columns: 1fr;
}